@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: black;
  --background: rgb(229, 229, 229);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(229, 229, 229);
    --background: black;
  }
}

body {
  color: var(--text);
  background-color: var(--background);
}
